[2018-11-02 08:41] Zelldon opened #1 "Create an README for this repo"
README should contain following information's:

 * what is the project for
 * requirements
 * get started (nuget package)
 * example project ?
 * how to build
 * how to contribute ?

[2018-11-02 08:44] Zelldon opened #2 "Setup a test project and structure"
* setup .net test project with NUNIT
* Use GRPC testing framework to test if the right requests are send to the broker
* integration tests can be added later

[2018-11-02 13:14] Zelldon commented on #2
closed with f5a81aa26c0d9923e4d92cdf908d9b2e480fce5b and 0a8c933526f8027ce75cf3b01123243f951bc214

[2018-11-02 13:14] #2 closed

[2018-11-02 13:18] Zelldon opened #3 "Implement Topology request"
AT:
 * there exist a method on the ZeebeClient to request the topology
 * there exist interfaces to wrap the grpc topology responses (see java client)
 * there exist tests to test the request and response mechanics

[2018-11-05 08:42] Zelldon opened #5 "I can complete an activated Job"

[2018-12-10 07:40] Zelldon commented on #5
closed with https://github.com/zeebe-io/zb-csharp-client/commit/fb9194e4bf4bd66c035fa4cf9a9be1fc96b5f429

[2018-12-10 07:40] #5 closed

[2018-12-10 17:22] Zelldon opened #6 "Creating job worker with TimeSpan as timeout does not work"
The timeout is not set correctly in this case and the gateway will complain that the timeout can't be zero,

[2018-12-10 17:23] Zelldon opened #7 "I can create a workflow instance"
AT:

 * create a workflow instance

[2018-12-10 17:24] Zelldon opened #8 "I can deploy an bpmn workflow model"
AT:

 * bpmn workflow can be deployed with the c# client

[2018-12-10 17:25] Zelldon opened #9 "I can update job retries"

[2018-12-10 17:26] Zelldon opened #10 "I can update workflow instance payload"

[2018-12-10 17:26] Zelldon opened #11 "I can resolve an existing incident"

[2018-12-10 17:27] Zelldon opened #12 "Create a 'How to release' Wiki"

[2018-12-12 06:04] Zelldon opened #14 "Add generated gRPC classes to project"
Currently the generated gRPC c# classes are not added to the repository.
This makes it hard to simply clone and build the project.
I think it makes sense to add them to the repository to get a better starting experience.
On new zeebe releases it makes sense to re-generate the classes, but in the mean time they will not change either.

[2018-12-12 06:49] #14 closed

[2018-12-14 06:20] #6 closed

[2018-12-14 09:45] #7 closed

[2018-12-14 10:09] #10 closed

[2018-12-14 11:54] Zelldon opened #15 "Publish message is synchronous and returns null on send"
**Describe the bug**

[code]

**Expected behavior**
Asynchronous and returns a response object.

[2018-12-14 12:09] #15 closed

[2018-12-14 12:32] #11 closed

[2018-12-14 12:35] #12 closed

[2018-12-14 12:59] Zelldon opened #16 "I can cancel a workflow instance via API"

[2018-12-14 13:00] #16 closed

[2018-12-14 13:00] Zelldon opened #17 "I can request a list of all existing workflows"

[2018-12-14 13:30] Zelldon opened #18 "I can request a workflow resource"

[2018-12-14 13:56] #18 closed

[2018-12-14 23:02] #1 closed

[2018-12-15 11:44] menski opened #19 "Rename repository"
What do you think about renaming the repository to `zeebe-client-csharp` then we could have the naming scheme `zeebe-client-LANGUAGE` for all the clients.

[2018-12-15 12:50] Zelldon commented on #19
Hey @menski ,

yes agree that consistent naming would be better, but somehow for me it sounds better if the langauge is before the client (zeebe-*-client) :sweat_smile: :see_no_evil: But might be something which has to get used to.

[2018-12-17 19:18] Zelldon commented on #19
done

[2018-12-17 19:18] #19 closed

[2019-01-24 07:14] Zelldon opened #20 "Reiterate over JobWorker implementation"
Currently the job worker runs two threads (one for polling one for handling). The polling happens after the poll interval is due, but the worker should check if the job activation limit is already reached. Furthermore it should not merely use the given job limit to activate the next jobs, but rather calculate how many jobs should be activated such that the limit is not exceeded.

[2019-01-24 07:17] Zelldon opened #21 "I can use the client to communicate with the Zeebe Broker 0.15.0 version"
We need to update the generated grpc/protobuf files and should support the following (can be done in separate issues)

- [x] variables on job activation https://github.com/zeebe-io/zeebe-client-csharp/issues/22
- [x] job activation as separate API method (https://github.com/zeebe-io/zeebe-client-csharp/issues/23)
- [ ] update payload on scope (not yet impl on broker side)

[2019-01-24 07:19] Zelldon opened #22 "I can use the client to request the variables on Job activation"
see as reference https://github.com/zeebe-io/zeebe/blob/develop/clients/java/src/main/java/io/zeebe/client/api/commands/ActivateJobsCommandStep1.java

[2019-01-24 07:21] Zelldon opened #23 "I can use the client to activate an job without using an worker"
Simply make it possible to activate jobs directly via API, without using an worker.

[2019-02-13 15:48] #23 closed

[2019-02-13 15:48] #22 closed

[2019-02-14 14:17] #20 closed

[2019-02-14 21:22] Zelldon opened #25 "Add logging to the client"
Add a logging to the client so it is easier to debug and trace errors and also get more insights what actually happens. Take a look into log4net and NLog and choose one, there are some references to read:

https://nlog-project.org/
https://www.loggly.com/blog/benchmarking-5-popular-net-logging-libraries/
https://logging.apache.org/log4net/
https://raygun.com/blog/c-sharp-logging-best-practices/

[2019-02-14 23:43] Zelldon commented on #21
new release https://github.com/zeebe-io/zeebe-client-csharp/releases/tag/0.5.0

[2019-02-14 23:43] #21 closed

[2019-03-13 20:41] Zelldon opened #26 "Migrate to Zeebe version 0.16.1"
- [x] rename payload to variables
   - [x] updatePayload -> setVariables
   - [x] payload on create instance -> variables
   - [x] payload on complete job -> variables
   - [x] payload on publish message -> variables
 - [x] add local flag to setVariables command

[2019-03-14 12:41] Zelldon commented on #26
closed by https://github.com/zeebe-io/zeebe-client-csharp/commit/8c08cb9dcb4b5924221d06a8db7cf6fd329ca46d

[2019-03-14 12:41] #26 closed

[2019-05-24 05:31] Zelldon opened #27 "I have the possibility on creating an job worker to enable auto failing"
**Is your feature request related to a problem? Please describe.**
If an exception in the job handler code happens, them the job worker should automatically fail the corresponding job.

**Describe the solution you'd like**
An optional setting for example called `jobfailOnException`

Example:
[code]

[2019-05-24 05:34] Zelldon opened #28 "I have the possibility on creating an job worker to enable auto completion"
**Is your feature request related to a problem? Please describe.**
We have always to complete the job by our own. The worker should be able to complete the job automatically after the job handler returns. This should be enabled by an optional setting.

**Describe the solution you'd like**
An optional setting for example called `autoComplete`

Example:
[code]

[2019-06-07 13:08] Zelldon commented on #27
This is already implemented with https://github.com/zeebe-io/zeebe-client-csharp/issues/20

[2019-06-07 13:08] #27 closed

[2019-06-11 13:58] Zelldon commented on #25
https://github.com/zeebe-io/zeebe-client-csharp/commit/dc748eb610052533cfcdc8053844a2cd8dd353c2

[2019-06-11 13:58] #25 closed

[2019-06-11 13:58] Zelldon commented on #28
Added with https://github.com/zeebe-io/zeebe-client-csharp/commit/5ca73d2c3fde437cc7aea5577d01fb683b0e52b1

[2019-06-11 13:58] #28 closed

[2019-07-08 13:43] JohnMichaelR opened #29 "I can use the client to request the Custom Headers on Job Activation"
As a user of the C# client, when Custom Headers are assigned to a Job, I would like the ability to capture these key-value pairs when a job is activated.

**Describe the solution you'd like**
The solution is to mimic implementation of similar Activated Job features. The implementation of _CustomHeaders_ property shall closely resemble the implementation of the _Variables_ property.

**Additional c

[2019-07-08 18:51] #29 closed

[2019-08-19 19:47] Zelldon opened #31 "The client can use tls to encrypt the communication"
**Is your feature request related to a problem? Please describe.**

Use build in tls from grpc see related issues https://github.com/zeebe-io/zeebe/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+tls

[2019-08-19 19:50] Zelldon opened #32 "In the client I can configure the long polling"
related https://github.com/zeebe-io/zeebe/issues/2931

[2019-08-30 10:03] walt-liuzw opened #33 "I used the net Fx4.7.1+ project to reference the zb-client 0.11.0 version and waited after executing the command."
**Describe the bug**
I used the net Fx4.7.1+ project to reference the zb-client 0.11.0 version and waited after executing the command.

[2019-08-30 10:28] #33 closed

[2019-09-05 19:07] Zelldon commented on #32
done with https://github.com/zeebe-io/zeebe-client-csharp/commit/01b504d22f091f27a5cf957bab6b02075743168d

[2019-09-05 19:07] #32 closed

[2019-09-05 19:08] Zelldon commented on #31
done with https://github.com/zeebe-io/zeebe-client-csharp/commit/1715872c61cf3037819d4c5ed85e91c3e5b2afc4

[2019-09-05 19:08] #31 closed

[2019-09-20 08:07] Zelldon opened #34 "I can use the client to get workflow state/outcome"
**Is your feature request related to a problem? Please describe.**
A often requested feature is to request the outcome of an workflow.
In the near feature I'm not sure if we want to implement this in the broker, but what we can easily do is to use the hazelcast exporter. The user needs to register the exporter in the broker and the client can connect to the exporter.

In that way the user can requ

[2019-09-23 09:19] berndruecker commented on #34
Just curious: Why not wait for the broker to have that feature implemented? Is there a trigger that we need that now in C#?

[2019-09-23 09:34] Zelldon commented on #34
No trigger just my wish to build that, since we have the hazelcast connector and I wanted to update him, but then I thought I can just merge them together.

Idk when we will build this in the broker

[2019-10-08 22:19] bobcat1506 opened #35 "Depend on Microsoft.Extensions.Logging.Abstractions not NLog"
**Describe the bug**
Your library should depend on Microsoft.Extensions.Logging.Abstractions not NLog.

**To Reproduce**

**Expected behavior**
Your library should depend on Microsoft.Extensions.Logging.Abstractions not NLog.  https://www.nuget.org/packages/Microsoft.Extensions.Logging.Abstractions/

**Additional context**
Systems should be free to choose their own logging implementation.

[2019-10-08 22:25] bobcat1506 opened #36 "Library should target .NET Standard 3.0 and eliminate Newtonsoft dependency"
**Describe the bug**
Library should target .NET Standard 2.1 and eliminate Newtonsoft dependency

**Expected behavior**
Library should target .NET Standard 2.1 and eliminate Newtonsoft dependency

**Additional context**
Microsoft is breaking the Newtonsoft dependency with .NET Standard 2.1 and so should libraries.

[2019-10-09 16:54] Zelldon commented on #36
Hey thanks for opening this issue. I'm not sure how to solve this. The client uses net standard 2.0, but I do not see how 2.1 would solve the Netwonsoft issue? How the replacement should work?

I think there is no direct json in the standard. Sorry but I'm not a .Net expert could you elaborate on that?

I found this in the .net standard  [FAQ](https://github.com/dotnet/standard/blob/master/docs/fa

[2019-10-09 18:33] Zelldon commented on #35
Thanks for bringing this up. I totally agree and migrated to [LibLog](https://github.com/damianh/LibLog)

[2019-10-09 19:07] bobcat1506 commented on #35
Christopher, Now your library has a dependency on LibLog, which consuming apps may or may not want to take on.  You really have traded one library for another.  In contrast, if you used the Microsoft.Extensions.Logging.Abstractions most logging libraries have implementations for this. https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.0 “.NET Core supports a loggi

[2019-10-09 19:34] bobcat1506 commented on #36
Take a look at this https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#fast-built-in-json-support.  .NET Core 3 and .NET Standard 2.1 no longer depend on JSON.NET.

[2019-10-09 20:16] Zelldon commented on #35
Not exactly it is more a logging facade. Even if you use the extension you have to build something similar. This "dependency" is also only visible for the assembly which contains the LibLog.cs.This means for the lib users it is transparent and they can just use the loging lib they want and this will automatically be detected.

Take a look here

https://github.com/damianh/LibLog/wiki
https://lunarf

[2019-10-10 00:14] bobcat1506 commented on #35
Yes, it's an abstraction which is the point.  You don't have to build your own implementation, you register an ILogger implementation in your DI container and your DI container injects it as needed via constructor injection.  We have done this in our own "Foundations" libraries which are leveraged in many apps and it works out great.  Some systems are using NLog, some are using SeriLog, and some h

[2019-10-10 06:39] Zelldon commented on #36
Actually I was thinking of dropping the usage of Newtonsoft.JSON for deserialization. It is only used in [ActivatedJob](https://github.com/zeebe-io/zeebe-client-csharp/blob/master/Client/Impl/Responses/ActivatedJob.cs#L79) and I'm not sure if this is really useful. I would like to keep this minimal as possible and then just return the variables as string (json).

What do you think?

[2019-10-10 06:50] Zelldon commented on #35
It seems for me are very controversy and high discussed topic in the .net world. This is weird to me, coming from Java where one facade (slf4j) is used everywhere.

Not sure whether download count is really a good marker. New software have to start somewhere and normal at zero. It seems some other OS Project thinking of migrating to LibLog instead of the extensions and they have also lot of discus

[2019-10-10 11:45] bobcat1506 commented on #36
I think that's a good compromise because you eliminate the dependency and you can still target Standard 2.0.

[2019-10-10 12:15] bobcat1506 commented on #35
Small apps are relatively simple, but large enterprise systems are either being written as micro services, are monoliths, or are a mixture in between.  Enterprise systems have a much higher level of complexity and many reference as many as 50+ NuGet packages.  Could you imagine if each NuGet package referenced a different logging implementation/abstraction?  That would exponentially complicate thi

[2019-10-11 07:30] Zelldon commented on #35
Hey @bobcat1506 thank you very much for your time and for the insights, it helps me a lot to understand the issue/situation you have.

This would be **awesome**, if you could create an PR with the changes which you want to make and we can discuss the parts there. Does it make sense to have the `ILogger` as parameter or more the `ILoggerFactory`? Such that the different classes can then create ther

[2019-10-15 19:44] bobcat1506 opened #37 "CamundaCloudTokenProvider is not Disposable"
**Describe the bug**
CamundaCloudTokenProvider holds a reference to an HttpClientHandler which is disposable but is never disposed

**Expected behavior**
Types owning disposable types should be disposable and should dispose instances of disposables.

**Additional context**
https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2213?view=vs-2019

[2019-10-17 14:14] bobcat1506 opened #39 "Provide a graceful way of stopping IJobWorker instances"
**Describe the solution you'd like**
Provide a graceful way of stopping IJobWorker instances such as a StopAsync() method.

[2019-10-17 14:40] bobcat1506 opened #40 "JobWorker.HandleActivatedJobs does not await NewCompleteJobCommand"
**Describe the bug**
JobWorker.HandleActivatedJobs does not await NewCompleteJobCommand

https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/error-messages/because-this-call-is-not-awaited-the-current-method-continues-to-run

[2019-10-17 14:41] bobcat1506 opened #41 "JobWorker.FailActivatedJob does not await NewFailCommand"
**Describe the bug**
JobWorker.FailActivatedJob does not await NewFailCommand

https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/error-messages/because-this-call-is-not-awaited-the-current-method-continues-to-run

[2019-10-17 18:19] bobcat1506 opened #42 "Allow clients to create a workflow instance based on the Workflow Id"
**Describe the solution you'd like**
Workflow's are typically deployed at the same time as application code and deployments must be scripted ahead of time.  If the workflow key is generated at deployment time there may be no way to update applications with that key. If applications could create a workflow instance based on the workflow id that would alleviate this issue.  This is the id I'm referr

[2019-10-18 11:37] Zelldon commented on #42
Hey @bobcat1506 this would be then the `bpmnProcessId`. Take a look at this unitTest https://github.com/zeebe-io/zeebe-client-csharp/blob/master/Client.UnitTests/CreateWorkflowInstanceTest.cs#L21-L24 as an example

[2019-10-18 11:37] #42 closed

[2019-10-21 13:03] Zelldon commented on #34
see zeebe-io/zeebe#3197

[2019-10-29 03:16] mike7ang1rdz commented on #34
Hi.

 I'm currently working on a  similar model implemented in
https://zeebe.io/blog/2019/08/zeebe-rest-affinity  with the **Callback map** approach.
of course, this is a drawback because we can not scale horizontally.  we are in the very early stage of the project so, we can wait for some weeks for this feature.

do you have a plan to implement this feature in c# since the feature I can see was m

[2019-10-29 04:48] Zelldon opened #43 "Autogenerate documenation for the client"
**Is your feature request related to a problem? Please describe.**
It would be useful to read to doc in more humand readable form on a page.
Take a look at https://github.com/dotnet/docfx

Related https://forum.zeebe.io/t/c-zeebe-client-methods/758/6

[2019-11-05 09:03] Zelldon commented on #41
Why do you think we need to wait here? What would like to do with the result? Or is it more for repeat the request if it fails?

[2019-11-05 09:37] Zelldon commented on #39
So instead of the `Dispose` method you would like to have a method which returns a Task? Currently the Dispose is kind of async it just cancels the `CancellationTokenSource` which then eventually will cancels the running threads.

[2019-11-05 13:45] bobcat1506 commented on #41
"...because no Await operator is applied, the program continues without waiting for the task to complete. In most cases, that behavior isn't expected. Usually other aspects of the calling method depend on the results of the call or, minimally, the called method is expected to complete before you return from the method that contains the call.

An equally important issue is what happens with excepti

[2019-11-06 05:34] jwulf commented on #34
We have this now in 0.22, can we get support for `CreateWorkflowInstanceWithResult` in the C# client?

[2019-11-06 06:16] Zelldon commented on #34
I'm on it

[2019-11-07 13:22] Zelldon commented on #35
closed by https://github.com/zeebe-io/zeebe-client-csharp/commit/14ddfac4334e52d4e51809052c1a21bd269d4e64

[2019-11-07 13:22] #35 closed

[2019-11-07 13:56] #34 closed

[2019-11-07 15:29] Zelldon commented on #43
This blogpost might help
https://www.codeproject.com/Articles/1260150/How-To-Integrate-DocFX-API-Documentation-Into-Your

Today I totally failed to generate the docs, but there were several issues like not detailed doc (funny right) and most things are written for windows.

But I think the following steps should work
[code]
Generating metadata was the missing part which should create the docs from

[2019-11-08 09:12] #37 closed

[2019-11-21 17:23] anilraut30 opened #59 "Grpc.Core Exception - Unhanded exception failed to connect to all addresses"
**Grpc Exception - Unhanded exception failed to connect to all addresses**

As stated in the documentation, I started in Sample run steps, I started the zeebe client first which seems running with default setting and then Client.Examples cs project which resulting into gRPC exception

**To Reproduce**
Steps to reproduce the behavior:
1. Start zeebe client
`docker run -p 26500:26500 camunda/zeebe:l

[2019-11-21 18:57] Zelldon commented on #59
Hey @anilraut30 thanks for reporting this and to provide these steps. I followed them, but can't reproduce this failure.

I get the following output:
[code]

I'm sorry that you have problem with running the example. It might be a windows and docker related problem? I can try to reproduce this tomorrow on windows. I normally run that on linux.

[2019-11-21 19:04] Zelldon commented on #59
Could you try to change this [line](https://github.com/zeebe-io/zeebe-client-csharp/blob/master/Client.Examples/Program.cs#L31)

[code]

In the example to either

[code]

or

[code]

And rerun your procedure?

[2019-11-23 10:46] Zelldon opened #61 "Support async JobHandlers"
**Is your feature request related to a problem? Please describe.**
Asnyc job handlers are currently not supported, if we want to get the result of an async call we need to do this:

[code]

**Describe the solution you'd like**

I would like to have job handlers like this:
[code]

**Describe alternatives you've considered**
As described above only with `.GetAwaiter` possible.

**Additional context*

[2019-11-23 10:58] Zelldon opened #62 "Support ErrorHandler on JobWorkers"
**Is your feature request related to a problem? Please describe.**
With the auto completion feature and the auto fail on a handling exception the user do not need to write  this logic by himself, but it would be ideal to have an callback if the auto completion or handling fails.

With on an error callback the user could do rollbacks for work which was done during the handling.

**Describe the solu

[2019-11-23 11:51] #40 closed

[2019-11-23 11:51] #41 closed

[2019-12-10 04:03] jwulf opened #69 "I can use the client to automatically handle gRPC 14 and 8 transient failures"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to write backpressure and network failure handling manually.

**Describe the solution you'd like**
Configurable retries with something like https://github.com/App-vNext/Polly baked in.

[2019-12-10 07:50] Zelldon commented on #69
Thanks for raising this issue. How you do it in the nodejs client? Do you think it make sense to make this behavior configurable? Not sure whether it make sense to retry endless or only a specific amount of times.

Should it be a opt-in thing or default behavoir.

[2019-12-10 07:57] berndruecker commented on #69
Great discussion folks. With the risk of killing the enthusiasm I think we should briefly discuss

- What's a good behavior of the client?
- What shall clients do and behave in that sense?
- How can we describe that properly for users to understand?

And then we should implement the exact same behavior in the different language clients (if that make sense). Or WDYT?

I think the topic is really im

[2019-12-10 08:17] Zelldon commented on #69
Good question. With the current solution the user is forced to do the handling, but we can also say that this is his own freedom. Might be that he don't want to retry, who knows? :man_shrugging:

Makes totally sense from my side. I thought the same, we should try to be consistent in the different clients.

Yes totally agree. I'm also not sure if this get better if we just dump retry endless, witho

[2019-12-10 09:58] berndruecker commented on #69
Would be nice to learn if Polly can something specifically, I "only" know it for circuit breaking and retrying - but the latter typically used for leaky networks, where a retry is a good strategy. But I think this does not translate one-to-one to back-pressure.

A "in the middle" strategy could be a blog post about back pressure handling strategies, see how customer react and what they implement -

[2019-12-10 11:16] jwulf commented on #69
http://zeebe.joshwulf.com/grpc/grpc-config/

Based on my experience using it.

[2019-12-16 08:39] walt-liuzw opened #70 "singleton client causes operation to fail"
**Describe the bug**
I use the netcore framework to build microservices and inject ZeebeClient into StartUp.
![image](https://user-images.githubusercontent.com/12151026/70891266-e0751300-2021-11ea-87de-2a841ca118d0.png)

Then, I call the process in the Service layer
![image](https://user-images.githubusercontent.com/12151026/70891430-2b8f2600-2022-11ea-870d-30a2a5dc93b8.png)
![image](https://user-

[2019-12-16 15:53] Zelldon commented on #70
Hey thanks,

for using the c#-client and opening this issue. Is it correct that you use an await without an async method? You should probably mark your deploy method async and return the corresponding task.

How? In a distributed system requests can always fail. You need to handle these kind of errors, with a strategy which fits to your needs (e.g. retry etc.).
If you have/see errors it is helpful

[2019-12-17 04:43] walt-liuzw commented on #70
thanks for your response,
using async method is also time out. I guess the connection was disposed?
I do not know why?

[2019-12-17 09:07] walt-liuzw commented on #70
thanks for your response,
         using ZeebeClient like this:
`var client = ZeebeClient.NewZeebeClient(request.ServerUrl);`
`Task.Run(async () => {`
`var deployResponse = await client.NewDeployCommand().AddResourceStringUtf8(contentStr, fileName).Send();`
`workflow = deployResponse.Workflows[0];`
`}).GetAwaiter().GetResult();`

After the microservice is deployed, I initiate an HTTP request on th

[2019-12-18 01:53] walt-liuzw commented on #70
try{ `var deployResponse = await client.NewDeployCommand().AddResourceStringUtf8(contentStr, fileName).Send();` }  catch Grpc.Core.RpcException  Message: Stream Moved

[2019-12-18 05:10] Zelldon commented on #70
when I execute the deployment command, I can’t wait for the return response, it timeout

What do you mean with that?
Lets do an step back.

What version of the client and broker do you use?
How is your Broker configured and your client? Does request topology work?

Greets
Chris

[2019-12-18 05:35] walt-liuzw commented on #70
1. zb-client: 0.11.0
2. zeebe cluster: camunda/zeebe:0.22.0-alpha1
environment:
      - ZEEBE_LOG_LEVEL=debug
      - ZEEBE_STANDALONE_GATEWAY=true
      - ZEEBE_GATEWAY_CONTACT_POINT=node0:26502
      - ZEEBE_GATEWAY_CLUSTER_PORT=26502
      - ZEEBE_GATEWAY_CLUSTER_HOST=zeebe
      - ZEEBE_GATEWAY_MANAGEMENT_THREADS=3
3. topology:

Brokers:

 Address: 172.18.0.4:26501,
 Host: 172.18.0.4,
 NodeId:

[2019-12-18 06:14] Zelldon commented on #70
Hey thanks for the quick response.

Could you please try to use the latest client version, which is 0.13.

[2019-12-18 08:42] walt-liuzw commented on #70
my project use netcore2.1  (it depends on the company plan)

[2019-12-18 09:03] Zelldon commented on #70
Not sure what you mean with that. Why is this a problem to not use 0.13.0?

[2019-12-19 02:32] walt-liuzw commented on #70
client 0.13.0  references
 `<PackageReference Include="Microsoft.Extensions.DependencyInjection.Abstractions" Version="3.1.0" />`
   ` <PackageReference Include="Microsoft.Extensions.Logging.Abstractions" Version="3.1.0" />`

now my project use netcore2.1. it references
`<PackageReference Include="Microsoft.Extensions.DependencyInjection.Abstractions" Version="2.1.1" />`
   ` <PackageReference Inc

[2019-12-19 07:49] Zelldon commented on #70
Hey @walt-liuzw thanks for pointing that out, wasn't aware of that. I will investigate that. Might be that I need to bump the version than.

Could you try to build the project with lower `Microsoft.Extensions.DependencyInjection.Abstractions` version and verify with your project whether this helps you or not?

[2019-12-20 05:55] walt-liuzw commented on #70
thanks @Zelldon  after upgrading the client 0.13.0. the request is not be blocked. but sometimes it throws exception:ERROR Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded")

[2019-12-20 05:58] Zelldon commented on #70
For which request do you see that? Still deployment?

Regarding to you replication factor. Is it correct that you do not want not replicated data yes?

[2019-12-20 06:09] walt-liuzw commented on #70
sorry. maybe it my code bug:
`client.NewDeployCommand().AddResourceString(contentStr, Encoding.UTF8, fileName).Send(TimeSpan.FromSeconds(5))`

i set the timeout too small. i updated 5s to 15s and tried

[2019-12-20 06:10] Zelldon commented on #70
Yes might be the case. :+1:

[2019-12-20 06:20] Zelldon commented on #70
So do you think it is necessary to bump the abstraction dependency version again ? Or is this fine for you now?

[2019-12-20 06:24] Zelldon commented on #70
I think you could also add this to you project.

[code]

Then it should probably be fine right?

[2019-12-20 06:34] walt-liuzw commented on #70
that is a good suggestion. thanks

[2019-12-20 06:58] Zelldon commented on #70
Ok I will close this issue then. Feel free to reopen it.

[2019-12-20 06:58] #70 closed

[2019-12-20 11:02] LZorglub opened #76 "ZeebeClient with aspnet core project"
Using references on Microsoft DependencyInjection version 3.1.0 prevents me from using the zeebe-client with an aspnet core 2.1 project.

    <PackageReference Include="Microsoft.Extensions.DependencyInjection.Abstractions" Version="3.1.0" />
    <PackageReference Include="Microsoft.Extensions.Logging.Abstractions" Version="3.1.0" />

Normally keeping a reference on 2.1.1 version allow us to use i

[2019-12-20 14:05] Zelldon commented on #76
Thanks for reporting this. I created a new release, where I bumped that version
https://github.com/zeebe-io/zeebe-client-csharp/releases/tag/0.14.0

[2019-12-20 14:05] #76 closed

[2019-12-20 14:06] Zelldon commented on #70
Hey @walt-liuzw I created a new release where I bumped that version
https://github.com/zeebe-io/zeebe-client-csharp/releases/tag/0.14.0

[2019-12-20 15:05] Zelldon commented on #43
Better guide http://www.hardkoded.com/blog/creating-docfx-site

[2019-12-27 14:56] LZorglub opened #85 "Nuget package references wrong URL site"
Your nuget package reference the https://github.com/zeebe-io/zeebe-csharp-client instead of https://github.com/zeebe-io/zeebe-client-csharp

Last two words inverted.

[2019-12-27 15:00] Zelldon commented on #85
Thanks for reporting. I already fixed that with https://github.com/zeebe-io/zeebe-client-csharp/commit/369e95b00e8c9bb15197c606bd25254a7073d242

[2019-12-27 15:00] #85 closed

[2019-12-27 15:15] LZorglub opened #86 "Stop logging when no active job requested"
When no jobs are pending we trace :

`
fail: Zeebe.Client.Impl.Worker.JobWorker[0]
      Unexpected RpcException on polling new jobs.
Grpc.Core.RpcException: Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded")
`

Can becomes difficult to read log file after a while. Can be worth it to not log this ?

[2019-12-27 16:22] Zelldon commented on #86
Hey @LZorglub,

thanks for reporting this.

So you would suggest to remove this? Could also be a different error, which is maybe interesting for you? Might be enough to change the log level or add a back off, like log every 100x. What do you think?

[2019-12-27 16:29] LZorglub commented on #86
Would be nice to only filter log when no jobs are pending. When the server is not reachable the error is
`
fail: Zeebe.Client.Impl.Worker.JobWorker[0]
      Unexpected RpcException on polling new jobs.
Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="failed to connect to all addresses")
`

StatusCode = Unavailable must be logged as Error and it's the actual behavior that i expect.

I

[2019-12-27 16:31] Zelldon commented on #86
Yes, this makes sense to me thanks

[2020-01-07 16:16] Lamby123 opened #88 "PublishMessageResponse Empty"
The PublishMessageResponse class contains no properties to determine whether the response was success or failure.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish  a new message using the NewPublishMessageCommand()
2. Await the result
3. Retrieve the PublishMessageResponse object
4. This object has no properties.

**Expected behavior**
1. The Publish Message Response object should hav

[2020-01-07 16:17] Lamby123 commented on #88
The same issue is present with the UpdateRetriesResponse  however I have not yet needed to use that particular response.

[2020-01-07 16:39] Zelldon commented on #88
Hey @Lamby123 ,

these response objects are only returned on success. On failure an exception is thrown.

[2020-01-07 16:46] Lamby123 commented on #88
Hi Zelldon,

In the case where we are sending back a correlation key should it return an error if there is no workflow instance matching the criteria of the NewPublishMessageCommand().

For example:
client.NewPublishMessageCommand()
                        .MessageName("payment-received")
                        .CorrelationKey("12345")

When we run the above code and the message name "payment-rec

[2020-01-07 18:44] Zelldon commented on #88
Hey thanks for the quick reply.

Please note that messages are buffered in Zeebe based on a specified TTL. The C# Client uses an default TTL setting. This means when a message is published it can happen that no instance for this message exist, but based on the TTL it is buffered and can be correlated later. Please take a look at the corresponding documentation https://docs.zeebe.io/reference/messa

[2020-01-08 10:08] Lamby123 commented on #88
Hi Chris,

I think the confusion here is related to the TTL buffering.
We were expecting to receive errors under the following circumstances:
1. The message name provided does not exist.
2. The correlation key provided does not exist.

In the example below:
             await client.NewPublishMessageCommand()
                   .MessageName("invalid-message-name")
                   .CorrelationKe

[2020-01-08 12:48] Zelldon commented on #88
It will not hang forever since it is deleted after the TTL.

Not far as I know. The benefit of that is that you do not have race conditions where the workflow instance does not have reached the catched event, when the message was published. The workflow instance can be delayed and the message can be published early without any problems.

What is the use case behind your questions? What do you want

[2020-01-09 16:53] jwulf commented on #88
I also would like to see this. Are you sure it does this?

[2020-01-09 16:59] jwulf commented on #88
The broker reasons over active message subscriptions, not workflow instances or definitions.

You could code the broker to reason over the complete set of potential correlations, but you should probably do that at design time, no?

Like this: https://github.com/StephenOTT/Workflow-Linter

[2020-01-10 10:43] Lamby123 commented on #88
Sorry for the late reply. I was out of the office yesterday.

We have a few scenarios which will require manual user approval.
For example, at the end of a workflow we might need the risk manager to look over the information and click approve to state that he/she is happy with the outcome of the flow.

For this scenario we were looking to use a message receive event and would send in the correlati

[2020-01-14 08:11] berndruecker commented on #88
So you are basically doing Human Task Management - right? We plan to support that directly later this year, then you will have proper User Tasks from BPMN - and there of course you can only complete a task if it is still open.

Just a quick thought: You could also use normal Service Tasks (instead of messages) - then the Zeebe Job is kind of your user task - you can only complete it if it is still

[2020-01-14 09:35] Lamby123 commented on #88
That does make sense however I question whether it is advisable to have such long running tasks.
If we have a Zeebe client that pauses whilst it waits for user interaction - it could potentially be waiting for days before the task finishes to completion.

Do you have an example / best practise for using service tasks for such a scenario? - blocking the thread for potentially a long period of time

[2020-01-24 20:19] Zelldon opened #91 "The client uses keepAlive to keep conection open"
see related https://github.com/zeebe-io/zeebe/pull/3487

[2020-01-24 20:19] Zelldon opened #92 "Add throwError command support"
see https://github.com/zeebe-io/zeebe/commit/35f17ad52e5b1645d678824f1b6a0712d2caa5ed#diff-a7bc15297c5424174b6f675f2decbedd

[2020-01-24 21:24] ngprice commented on #59
I was able to reproduce this issue on Docker for Windows, and tried the fix above with "127.0.0.1:26500". This fixed the problem.

[2020-01-24 21:30] Zelldon commented on #59
Hey @ngprice thanks for testing that. I will close this issue then 👍

[2020-01-24 21:30] #59 closed

[2020-01-28 17:49] Zelldon commented on #43
I had a long fight with the docfx, mono, msbuild and my linux machine. After several hours/days. I decided to go with a different tool. One which I already know. I will go with [doxygen](http://www.doxygen.nl/) for now it is quite easy to use and provides a clean documentation. This should be fine for now.

With the following commits:
 * https://github.com/zeebe-io/zeebe-client-csharp/commit/87018

[2020-01-28 17:49] #43 closed

[2020-01-28 20:38] #92 closed

[2020-02-21 07:07] walt-liuzw opened #100 "The DeadlineExceeded Exception threw when service is running"
**Describe the bug**
I call ZeebeClient in the microservice to implement the file upload and deployment function. When the service is running normally, I call this API interface to upload the file, and a DeadlineExceeded exception occurs.
`2020-02-21 15:01:01.8615 ERROR Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded")`

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the

[2020-02-21 08:37] Zelldon commented on #100
Hey @walt-liuzw

thanks for reporting this. I thin this issue is more an Zeebe Broker or gateway issue. Could you please check the gateway/broker logs. Do you see there any exceptions/logs?

[2020-02-24 04:48] walt-liuzw commented on #100
@Zelldon thanks for reply.
i don`t think this issue of broker or gateway. Because when i restart the Microservice it works successfully.
Next I look at the logs. I think that since the DeadlineExceeded Exception is thrown, the Zeebe server should have triggered this exception.

[2020-02-24 06:14] Zelldon commented on #100
The microservice only contain the client? Do you see before that exceptions any errors in the broker or an restart of a node?

[2020-04-01 12:46] bulldetektor commented on #86
Logging every nth exception will be quite complex when taking into account threading issues and other failure situations. My suggestion (see PR above) is to log DeadlineExceeded and Cancelled with log level `Debug` instead (cancelled because we don't want any error logged when the application is shutting down)

[2020-04-01 12:50] bulldetektor commented on #61
Isn't this one already implemented?

[2020-04-01 13:02] LZorglub commented on #86
Yes make sense.

[2020-04-02 22:53] 0x15e opened #105 "Disposing ZeebeClient causes crashing in async code"
**Describe the bug**
The blocking call to `channelToGateway.ShutdownAsync().Wait()` causes the application to terminate (exit code 6) at the next async call when used within an async context.

**To Reproduce**
Create a C# console application and reference zb-client 0.15.0 (this can also be reproduced using the code in master). Add the following code to the Program.cs file:

[code]

**Expected beha

[2020-04-03 04:26] Zelldon commented on #105
Thanks @0x15e for reporting I will try to take a look at it next week.

[2020-04-03 04:37] #86 closed

[2020-04-03 05:59] bulldetektor commented on #105
I believe this PR will fix this; https://github.com/zeebe-io/zeebe-client-csharp/pull/104

As far as I could see, the problem isn't actually the Wait-mehod on `ShutdownAsync()`, but the fact that `Dispose` is called twice. And the second call will call `ShudownAsync()` on a `ClosedGatewayClient`, which then will throw.

[2020-04-03 14:53] 0x15e commented on #105
@bulldetektor If it was just throwing that would be one thing, but no exception comes out of that call that I've been able to catch. Even I have the debugger set to break on all exceptions, it doesn't catch anything on the `Dispose` call. It just terminates.

[2020-04-07 12:58] Zelldon opened #110 "C# client should send the client type and version with his auth request #4265"
**Is your feature request related to a problem? Please describe.**

On camunda cloud we have sometimes bug reports / incidents which might be already fixed with the latest version of the client, but the user uses a old client version.

**Describe the solution you'd like**

We would like to detect the client type and version, on requesting the auth token. This would make incident investigation much

[2020-04-08 12:27] Lamby123 opened #111 "Return Incident Key when calling Fail Job Command."
**Is your feature request related to a problem? Please describe.**
It is difficult to determine an Incident Key in order to resolve an incident.
If I have used the Fail Job Command I would expect to receive the Incident key in the response.

**Describe the solution you'd like**
Please add the Incident Key to the FailJobResponse so that our end systems can keep a track of the incident and resolve w

[2020-04-14 06:38] bulldetektor commented on #105
@0x15e I'm in no way entitled to claim that I know this code base, and I agree with you that it would be nice to to have the "async dispose" of netstandard2.1. But that would be a pretty heavy breaking change, and so should probably be done by multi-targeting both netstandard 2.0 and 2.1. But I'll leave that decision to @Zelldon :)

[2020-04-16 12:35] sergeylebed opened #112 "Topology request should return broker versions"
**Is your feature request related to a problem? Please describe.**
It is not possible to get Zeebe version, that is introduced in v0.23, via the current client.

**Describe the solution you'd like**
Adding the Version property to the  topology or broker info.
It should not throw exception if connected to Zeebe prior v0.23.

[2020-04-17 05:19] Zelldon opened #113 "Store OAuth token in same location as other clients"
Currently the C# client stores the token under `.zeebe` we should align the client to the others, where the token is stored under `.camunda`

[2020-04-17 05:20] Zelldon opened #114 "C# client should understand/use the same token format as other clients"
Currently the C# client stores the token differently then the Java or Go client, this should be adjusted to the same format so it can use the same cached token.

[2020-04-17 05:22] Zelldon commented on #114
Take a look at the latest updates:

 * https://github.com/zeebe-io/zeebe/pull/4115

https://github.com/zeebe-io/zeebe/pull/4115/files#diff-5e07f5c0f5a2d048db781022d372e18a

[2020-04-17 05:26] Zelldon commented on #112
Related java feature https://github.com/zeebe-io/zeebe/issues/3692

[2020-04-17 12:14] #61 closed

[2020-04-17 19:13] #110 closed

[2020-04-20 05:23] Zelldon commented on #100
Feel free to reopen if you have further information.

[2020-04-20 05:23] #100 closed

[2020-04-20 06:11] #91 closed

[2020-04-20 06:36] #112 closed

[2020-04-21 09:53] Lamby123 opened #120 "Official Support For C# Client"
We have recently adopted Zeebe within our organisation and would like for you to make the C# Client Officially supported by Camunda/Zeebe rather than being solely a community driven project.

We are a large enterprise with the majority of systems currently written in C#.

I will raise an official support request on your JIRA and link this GitHub request.

[2020-04-28 11:24] meyerdan commented on #120
https://github.com/camunda-cloud/issues/issues/10

[2020-05-05 09:04] andylholloway opened #122 "ZeebeClient causing Azure Function to log: "Host thresholds exceeded: [Threads]." exception"
Hi
I am currently using the ZeebeClient in an Azure Function to create a JobWorker. The function will run fine for 2-3 hours but after this time an error reporting that the function host has exceeded the thread threshold is logged.

I am able to reproduce the problem in a console app and have supplied the code below, but I'm happy to provide the entire vs project is that helps.

Although the code

[2020-05-12 05:25] Zelldon commented on #122
Hey @andylholloway sorry for the late response.

I have the feeling that you're not disposing the worker ? Is this correct? Why you are not using something like

[code]

[2020-05-12 07:18] andylholloway commented on #122
Hi @Zelldon

The `using` statement line is: ` using var jobWorker = zeebeClient.NewWorker()`.
This is C# 8.0 syntax:  https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#using-declarations

I believe it is equivalent to:

[code]

Thanks
Andy.

[2020-05-12 07:45] Zelldon commented on #122
Oh sorry I have overseen this :see_no_evil:

Today I have learned something thanks :smile:

I will try to take a look at this during this week and will come back to you when I have more questions.

[2020-05-20 15:56] andylholloway commented on #122
Hi @Zelldon

Did you get an opportunity to look into this issue?

If you would like me to send you the test project I created I'd be more than happy to share.

Thanks
Andy

[2020-05-22 06:08] Zelldon commented on #122
Hey @andylholloway unfortunately no.

I'm currently quite busy with working on the main project. But I hope I can take a look at it soon.

I had a short look at the code and was wondering why this would happen, since we use a cancelationToken which we cancel on dispose. https://github.com/zeebe-io/zeebe-client-csharp/blob/master/Client/Impl/Worker/JobWorker.cs#L67

Do you have an idea why this wou

[2020-05-22 06:18] Zelldon commented on #88
To came back to the original reported issue it is not a bug in the client, which is the reason why I will close this. If you disagree feel free to reopen this, then we can discuss this again. Furthermore feel free to reach us via slack or the forum if you have further questions.

[2020-05-22 06:18] #88 closed

[2020-05-25 09:39] Zelldon commented on #122
I tried it on my machine and added logging and it seems for me that the threads are closed after dispose is called.

I had to change the code a bit, removed the C# 8 stuff.

[code]

Changed the JobWorker code like this to add logging:

[code]

**Output:**
[code]

[2020-05-25 11:45] Zelldon commented on #122
@andylholloway I think I know what the issue is. The new `using` directive will not work as you posted and also not like I replaced it. It will more work like:

[code]

As far as I know now it will dispose the object when the scope is closed, which means **after** the while loop.

I think this is not a bug in the client it is wrong usage of the using directive. I will close this issue then, feel f

[2020-05-26 10:51] andylholloway commented on #122
Hi @Zelldon

Sorry for the late reply.

I have been looking at ways to reduce the thread consumption and what I have found is if I reduce how frequently the `while(){}` runs (e.g. every 60 seconds instead of every 10 seconds) then the thread count consumption is reduce significantly, although the count does continue to rise. This approach might be ok as I could spin up fewer workers, but get each

[2020-05-26 18:57] Zelldon commented on #122
Thanks @andylholloway for coming back with that. Then I have to dig deeper. Unfortunately I was not able to try your code with c# 8 on linux.

[2020-05-27 06:55] jump523steps opened #133 "maxJobsActive in JobWorker"
https://github.com/zeebe-io/zeebe-client-csharp/blob/57d3ba481dc71dda6d3e90ee5d0516d2aa97e06d/Client/Impl/Worker/JobWorker.cs#L123

Now the HandleActivatedJobs handle jobs one by one, which didn't meet our expectations of MaxJobsToActivate.

The java client process active tasks concurrently
https://github.com/zeebe-io/zeebe/blob/2d53315fed41b32d7785762a9267f77cb38ba3e3/clients/java/src/main/java/i

[2020-05-27 11:45] jsolana opened #134 "Implement list workflows and get workflow in csharp client"
Hi, I am newbie with Zeebe and I don't know if is possible to fetch deployed workflows in csharp client as go client (https://github.com/zeebe-io/zeebe/issues/1483).
I am looking for the same features:

- List workflows
- Get workflow resource

Thanks,

[2020-05-27 11:49] Zelldon commented on #134
As you can read in the referenced issue this was also removed on the other clients. This is no longer supported by the broker

[2020-05-27 11:49] #134 closed

[2020-06-03 19:56] Zelldon commented on #122
@andylholloway thanks again for your report! I found the issue the handler thread was not closed correctly. I already have a fix and will release it soon.

[2020-06-03 20:43] #122 closed

[2020-06-04 13:23] Zelldon commented on #122
new release is out https://github.com/zeebe-io/zeebe-client-csharp/releases/tag/0.16.1

[2020-06-14 12:57] ionutcalin opened #138 "Create Workflow Instance with result - timeout not respected"
**Describe the bug**
I'm trying to set a 30 seconds execution timeout for Create Workflow Instance with result feature of Zeebe but it seems that the timeout is still the default 15secs of the zeebee gateways and broker

**To Reproduce**
 The way I started the workflow instance is like below (I put the 30 secs in the Send method parameter:

[code]

but this throws and Timeout exception of the the

[2020-06-15 07:48] ionutcalin commented on #138
To add some details on my current setup
- Zeebe running in docker-compose (as indicated in Zeebe Tutorials setup: https://github.com/zeebe-io/zeebe-docker-compose. From here I run the "operate" cluster setup)
- Zeebe csharp client is: zb-client 0.16.1

[2020-06-18 10:53] Zelldon commented on #138
Hey @ionutcalin thanks for reporting. I will take a look at it soon.

[2020-06-24 10:46] simonvane opened #139 "Could BaseZeebeTest.cs be provided as part of a nuget package?"
**Is your feature request related to a problem? Please describe.**
Unit testing using mocks is proving to be quite awkward. I saw `BaseZeebeTest.cs` and using that seemed like a much easier way to test.

**Describe the solution you'd like**
I'd like `BaseZeebeTest.cs` (and all of the code it uses) to be made available as part of a nugget package so that my XUnit tests can inherit from `BaseZeebeTe

[2020-07-06 07:50] MiguelPires opened #144 "Change user-agent to common format"
**Is your feature request related to a problem? Please describe.**
I'm currently adding a user-agent to the java client and during the review it came up that the current format is a bit uncommon, with `product/version` being more common. However, it would be nice to keep it consistent between the node, C#, Java and Go clients.

**Describe the solution you'd like**
`product/version`. For example, `

[2020-07-06 07:51] Zelldon commented on #144
thanks @MiguelPires

[2020-07-17 13:56] jwulf opened #146 "Cannot connect to a different Camunda Cluster after connecting once"
**Describe the bug**
Running an application against a Camunda Cloud cluster, if you change clusters the application will fail to connect.

**To Reproduce**
Steps to reproduce the behavior:
1. Run your app against a Camunda Cloud cluster.
2. Reconfigure it to run against a different one.
3. Application throws a 401 error when trying to connect.
4. Delete `~/.zeebe/cloud.token`, and you can connect.

[2020-07-17 13:58] Zelldon commented on #146
Next week I'm on vacation but maybe I find some time. I will try to prioritize this and probably tackle that together with https://github.com/zeebe-io/zeebe-client-csharp/issues/114

[2020-07-17 20:17] Zelldon commented on #114
https://github.com/aaubry/YamlDotNet

[2020-07-19 18:31] mostwired opened #148 "Job timeout sometimes skips multiple timeout intervals when re-issuing a job"
**Describe the bug**
Job timeout sometimes skips multiple timeout intervals when re-issuing a job.

**To Reproduce**
A simple setup with one job (jobA). I am setting job expiration of 10 seconds; polling for this job type is set to 250ms. What I am observing is that Zeebe re-issues the job sometimes right when it’s supposed to time out (after 10 seconds); other times it skips one or more timeout i

[2020-07-22 18:40] jwulf opened #149 "Worker does not long poll correctly"
The 0.16.1 client does not long poll. It seems to do an immediate short poll, then repoll at the next poll interval.

[2020-07-29 11:26] Zelldon commented on #148
Hey @mostwired

thanks for reporting. I think this is related to https://github.com/zeebe-io/zeebe/issues/5073

What do you think?

[2020-07-30 04:46] Zelldon commented on #149
Could you be a bit more specific and tell me what you're observing and what would be expected. Can you reproduce it somehow? Long polling should work as far as I know.

[2020-08-07 10:50] MrRickwi opened #157 "Job handlers are not running in parallel"
**Describe the bug**
When implementing a simple job handler that blocks for a certain amount of time it can bee seen that only one worker at a time is running, ignoring the property `MaxJobsActive`. This is due to the fact that a queue is used for running the workers one after each other.

**To Reproduce**
Steps to reproduce the behavior:
- Create a simple workflow that has one activity "sleep".
-

[2020-08-07 11:06] MrRickwi commented on #157
I saw your branch zell-rewrite-job-worker. Tested it. It solves the problem somehow, but in my opinion not correctly. `MaxJobsActive` is now duplicated by `HandlerThreads`, so if you have `MaxJobsActive = 10` and `HandlerThreads = 3`, my client activates 10 jobs, but handles only 3 in parallel. I could supply a much easier solution in the current code if desired.

[2020-08-07 11:29] Zelldon commented on #157
Hey @MrRickwi,

thanks for reporting this. This is actually a duplicate of https://github.com/zeebe-io/zeebe-client-csharp/issues/133.
This issue is a missing feature, not a bug and as you already saw I'm currently working on it. I hope I get a release out soon.

The `maxJobsActive` has a different concern then the `HandlerThreads`, since it is used to pre-fetch jobs from the broker. You can also

[2020-08-07 11:29] #157 closed

[2020-08-07 12:15] MrRickwi commented on #157
Thanks for your comment. Possibly it is a good idea to initialize `HandlerThreads` with `MaxJobsActive` for a better backwards-compatibility? Makes sense to close my pull request if yours is handling the situation better.

[2020-08-15 12:09] #138 closed

[2020-08-27 15:39] MrRickwi opened #164 "Creating a lot of serviceTask workers with HandlerThreads > 1 slows down loading workflow BPMNs"
**Describe the bug**
We use the new feature which allows setting the HandlerThread count. However, it seems that the client does not use proper task handling features of C#, but instead reserves a task for every HandlerThread required. That in turn slows down loading of BPMNs (NewDeployCommand) to being nearly unusable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create some ServiceTasks

[2020-08-27 16:53] Zelldon commented on #164
Hey @MrRickwi

thanks for reporting that.
I'm not 100% sure whether I get the issue.

Are you saying that the response of the deployment takes longer? Have you some example code to reproduce this?

Greets
Chris

[2020-08-28 06:50] MrRickwi commented on #164
Yes, the response takes way longer. Here some code to demonstrate it. You could remove HandlerThreads and run it with 0.16.1 to see how it performs there:

`
        [Test]
        public void PerformanceTest()
        {
            for (var i = 0; i < 10; i++)
            {
                var worker = WorkflowEngine.Instance.NewWorker()
                    .JobType($"serviceTask{i}")

[2020-08-28 07:09] Zelldon commented on #164
For me this is kind of expected, since you put much pressure on the broker. Lets talk about your setup.

You have 10 active jobs and 5 threads, which working concurrently on them. We have an poll thread which will try to poll after 100 ms (pollInterval) if the job queue is smaller then maxActivateJobs * 0.6. In your case 6. So if you have less then 6 jobs in your active working queue it will poll

[2020-08-28 14:48] MrRickwi commented on #164
It is really not kind of expected: The example does not create any workflow, but only creates service tasks handlers that potentially would be able to handle 10 different service tasks, each of them in 5 threads. Nothing which should overload a broker. And the created service tasks in turn delay loading a workflow which is not expected at all.

[2020-08-28 15:07] MrRickwi commented on #164
Made a local test by replacing Task.Run(async ( ... ) => {}, cancellationToken) with Task.Factory.StartNew(async delegate { ... }, cancellationToken, TaskCreationOptions.LongRunning) in JobWorker.StartPollerThread and JobWorker.StartHandlerThreads. Works as expected, everything is fast again.

[2020-08-28 15:09] Zelldon commented on #164
Thanks @MrRickwi I will take a look at this. Could you explain me the difference or the implications of this?

[2020-08-28 15:15] MrRickwi commented on #164
Yes: .NET throttles the creation of tasks in the thread pool if there are too much tasks created - as long as these tasks are not marked as long running. Long running tasks allow the thread pool to increase. Task.Run() is only meant for short running tasks and has not the option to mark tasks as long running. Task.Factory.StartNew is not so easy to use, but has more options.

However, I think pre-

[2020-08-28 16:19] Zelldon commented on #164
Thanks @MrRickwi

Yeah before I implemented that this way I also read about the Task scheduling but it felt weird to create so many tasks as activated jobs. I wanted to limit the created threads/tasks somehow and thought that it would be cool for the user to have control over it. But maybe this is done implicit via the Task scheduler then already? Tbh I'm not that experienced with the Task schedul

[2020-09-02 20:11] Zelldon commented on #69
What do you guys think about a new send method called `SendWithRetry` as addition to the normal send method? So the user has the choice about the auto. retry handling.

[2020-09-02 20:45] Zelldon opened #167 "Create a new cloud worker example"
Create a new cloud worker example which is able to read system env. Variables and a Dockeefile to build a corresponding image to deploy it in k8

[2020-09-13 20:41] Zelldon opened #173 "I can use the client to send ActivateJobsCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:42] Zelldon opened #174 "I can use the client to send CompleteJobCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:43] Zelldon opened #175 "I can use the client to send CreateWorkflowInstanceCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:44] Zelldon opened #176 "I can use the client to send CreateWorkflowInstanceCommandWithResult with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:45] Zelldon opened #177 "I can use the client to send DeployWorkflowCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:46] Zelldon opened #178 "I can use the client to send FailJobCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:47] Zelldon opened #179 "I can use the client to send PublishMessageCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:48] Zelldon opened #180 "I can use the client to send ResolveIncidentCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:48] Zelldon opened #181 "I can use the client to send SetVariablesCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:49] Zelldon opened #182 "I can use the client to send ThrowErrorCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:50] Zelldon opened #183 "I can use the client to send TopologyRequestCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:51] Zelldon opened #184 "I can use the client to send UpdateRetriesCommand with retries"
**Is your feature request related to a problem? Please describe.**

As you can read in https://github.com/zeebe-io/zeebe-client-csharp/issues/69 we want to send requests with retries.
With https://github.com/zeebe-io/zeebe-client-csharp/pull/172 we implemented the first step to send commands with retries.

**Describe the solution you'd like**

[Here](https://github.com/zeebe-io/zeebe-client-csharp

[2020-09-13 20:53] Zelldon commented on #69
Created as first step https://github.com/zeebe-io/zeebe-client-csharp/pull/172 and sub issues.

[2020-09-13 20:53] #69 closed

[2020-09-16 20:18] #164 closed

[2020-09-24 09:12] Zelldon commented on #164
Hey @MrRickwi

the latest release https://github.com/zeebe-io/zeebe-client-csharp/releases/tag/0.18.0 contains your contribution!
Thanks again :)

Greets
Chris

[2020-09-27 13:04] MrRickwi commented on #164
Thanks. Didn't answer a while because I was in holidays. Will test that next week. Greets back

[2020-11-30 15:56] Lamby123 opened #194 "Stream Removed"
**Describe the bug**
Several times a day we get a "stream removed" error coming back from the Zeebe Client.

One or more errors occurred. (Status(StatusCode=\"Unknown\", Detail=\"Stream removed\", DebugException=\"Grpc.Core.Internal.CoreErrorDetailException: ................

**To Reproduce**
Steps to reproduce the behavior:
1. Make thousands of requests per day with the Zeebe client. Eventually o

[2021-01-07 13:46] Lamby123 opened #202 "NewThrowErrorCommand Missing from Client Interface"
The  NewThrowErrorCommand is present in the client but is not implemented in the IZeebeClient interface.

public IThrowErrorCommandStep1 NewThrowErrorCommand(long jobKey)
        {
            return new ThrowErrorCommand(gatewayClient, jobKey);
        }

We would like to use this method but cannot at the moment.

[2021-01-07 13:48] Zelldon commented on #202
It is available at the IJobClient https://github.com/zeebe-io/zeebe-client-csharp/blob/master/Client/Api/Worker/IJobClient.cs#L117

[2021-01-07 13:48] #202 closed

[2021-01-07 15:20] Lamby123 commented on #202
Thanks for the quick response. I will revert back to our developers.

[2021-02-05 07:27] xlegalles opened #214 "Response Variables property is not very convenient"
The response `Variables `property is a string and this is not very convenient: the proof is the addition of a `getVariablesAsMap ` method in the java client.

The solution would be to add the same kind of facilities in the C# client: `GetVariablesAsMap `and `GetVariablesAsType `(names are the same as the java ones) that return respectively an `IReadOnlyDictionary<string, object>` and `T`.

Remaini

[2021-02-05 14:52] xlegalles opened #215 "IFinalCommandStep methods should handle a CancellationToken"
It is a common practice with .NET async methods to pass a `CancellationToken`: timeouts, for instance, are usually handled this way.

The `IFinalCommandStep `methods i.e. `Send `and `SendWithRetry `should pass such a `CancellationToken`: it could be done as alternative signatures (i.e. additional methods) but existing methods would use themselves a cancellation token to manage the timeout.
At the

[2021-02-08 12:29] daghb opened #216 "RPC exception causes a loop with thousands of requests and log entries each second."
**Describe the bug**
When calling activateJobsCommand.Send in JobWorker returns an immediate error and casts an exception the while loop is immediately continued and a new Send is initiated just milliseconds after.

**Expected behavior**
A short delay should be introduced before retrying to stop server hogging.

**Enviroment (please complete the following information):**
- .NET Core

**Additional

[2021-02-19 06:50] Zelldon commented on #215
@xlegalles thanks for raising this sounds reasonable to me :+1:

[2021-02-19 14:20] roarjoss opened #218 "HttpMessageHandler is disposed in CamundaCloudTokenProvider"
**Describe the bug**
When CamundaCloudTokenProvider.RequestAccessTokenAsync is called more than once HttpMessageHandler is disposed and  System.ObjectDisposedException is thrown. This probably happens because the HttpClient is disposed in RequestAccessTokenAsync, also disposing HttpMessageHandler.

[code]

**To Reproduce**
Steps to reproduce the behavior:
Start a worker. Wait 24 hours until the ac

[2021-02-22 13:44] #216 closed

[2021-02-28 10:24] #215 closed

[2021-02-28 10:43] #218 closed

[2021-03-22 14:35] Zelldon commented on #214
I will close this, since after discussion we also closed the related PR :) https://github.com/camunda-community-hub/zeebe-client-csharp/pull/220 feel free to reopen it if you disagree.

[2021-03-22 14:35] #214 closed

[2021-04-14 10:03] terjeinnerdal opened #245 "JobWorker.PollJobs throws System.ObjectDisposedException - Safe handle has been closed."
**Describe the bug**
After a network issue in one of our services, we got a System.ObjectDisposedException when the worker tries to poll for new jobs. JobWorker.IsOpen() still returns true so we're not able to detect that the worker is in an unrecoverable state. The message in the exception is "Job polling failed".

[code]

[2021-04-14 10:50] Zelldon commented on #245
Thanks @terjeinnerdal for reporting. I try to take a look as soon as possible, but please understand that we are currently preparing 1.0 for zeebe so it might take some time.

[2021-04-29 10:50] Zelldon commented on #62
Wont do until someone complains (asks for it)

[2021-04-29 10:50] #62 closed

[2021-04-29 10:52] Zelldon commented on #148
Since this is probably an issue on the Broker I will close it

[2021-04-29 10:52] #148 closed

[2021-04-29 20:29] #174 closed

[2021-05-05 19:28] jwulf commented on #194
This happens in the Node client as well. Does the C# client use the Google C client under the hood?

[2021-05-05 19:33] jwulf opened #273 "ETA for 1.0.0 support?"
Do you have a estimated time of arrival for support for Camunda Cloud 1.0.0?

[2021-05-06 05:19] Zelldon commented on #273
This or at latest next week. Already working on it.

[2021-05-06 05:19] #273 closed

[2021-05-06 09:24] nazzour opened #274 "Zeebe 1.0.0-alpha7 Compatibility"
**Is your feature request related to a problem? Please describe.**
Hello, I tried to use the client with a fresh Zeebe 1.0.0-alpha7 installation but obviously did not work because  "This release has a breaking change in the gRPC API - the Deploy Process command request format" (Copied it from @jwulf )

**Describe the solution you'd like**
New version compatible with the new Zeebe 1.0.0-alpha7 rele

[2021-05-06 09:26] Zelldon commented on #274
Please see https://github.com/camunda-community-hub/zeebe-client-csharp/issues/273

[2021-05-06 09:26] #274 closed

[2021-05-06 09:28] nazzour commented on #274
Thank you @Zelldon

[2021-05-06 11:01] Zelldon commented on #194
Actually this issue was covered also by a support case, for reference https://jira.camunda.com/browse/SUPPORT-8433

It seems to be related to https://github.com/grpc/grpc/issues/15623 and https://github.com/grpc/grpc-node/issues/708

[2021-05-07 19:03] Zelldon commented on #194
I don't think that we can do anything here. If you want to retry these kind of calls your could try the new sendWithRetry methods, see https://github.com/camunda-community-hub/zeebe-client-csharp/blob/master/Client/Api/Commands/IFinalCommandWithRetryStep.cs Be aware that not all commands implement that yet

[2021-05-07 19:05] Zelldon commented on #120
Nothing I can decide, this is up to @meyerdan and @felix-mueller

[2021-05-07 19:05] #120 closed

[2021-05-07 19:09] Zelldon commented on #114
I will not do that right now, because it will introduce another dependency which doesn't make sense to me.

In Java and Go we get the JSON response form the AUTH endpoint and convert that into yaml to store it. On reading we convert that into a object and use that for the oauth. Idk why we need two serialization formats here :shrug: I will keep the JSON format and store it still under `~/.zeebe` b

[2021-05-07 19:09] #114 closed

[2021-05-10 06:05] #146 closed

[2021-05-10 06:46] Zelldon commented on #39
IAsyncDisposable is available for .net core 3 + https://docs.microsoft.com/de-de/dotnet/api/system.iasyncdisposable?view=net-5.0

As long we want to support core 2.1, we can't implement this interface.

[2021-05-10 07:06] Zelldon commented on #194
I think we could overcome this with switching to dotnet-grpc, which is available for .net core 3.0 https://grpc.io/blog/grpc-on-dotnetcore/

The question would be if we want to drop core 2.1

[2021-05-10 07:25] Zelldon opened #277 "Migrate to .net core 3.1"
Migrating to .net core 3.1 gives us some new possibilities like:

 * Using new interfaces (e.g. IAsyncDisposable, solves https://github.com/camunda-community-hub/zeebe-client-csharp/issues/39)
 * Using new grpc lib (dotnet-grpc) https://grpc.io/blog/grpc-on-dotnetcore/ , which would solve https://github.com/camunda-community-hub/zeebe-client-csharp/issues/194 and gives us better performance https:

[2021-05-10 09:29] #173 closed

[2021-05-10 11:19] Zelldon commented on #245
Hey @terjeinnerdal I'm wondering whether your ZeebeClient was disposed during the network outage? Can this be the case?

[2021-07-08 15:52] Zelldon opened #299 "Analyze Repo in Sonartype Lift"
@celanthe

[2021-07-08 15:56] celanthe commented on #299
Thanks so much for opening this issue @Zelldon! I've got the analysis running on `main` and also ran one on `release-1.0.0` I will let you know ASAP once I have those results for you!

[2021-07-08 15:57] Zelldon commented on #299
Awesome thanks @celanthe

[2021-07-08 17:05] celanthe commented on #299
@Zelldon I sent you a message on Slack, I've got those results available for you! :)

[2021-08-20 11:40] Zelldon opened #311 "Jobs are not handled by job worker"
**Describe the bug**

Jobs are activated in the broker/gateway and send back to the client, but not handled. The response is missed by the worker.

**To Reproduce**

 * Create process instance on three partitions.
 * Job worker with max job activation count larger then 1. - needs BIG timeout
 * Start job worker
 * Worker will handle only one job

**Expected behavior**

Job worker accepts all respo

[2021-08-20 12:40] Zelldon commented on #311
Can be reproduce with this intergration test:

[code]

[2021-08-20 13:55] #311 closed

[2021-08-30 06:06] #299 closed

[2021-09-02 16:26] Dumbnorix opened #315 "I can use the client to start an instance with publishMessageCommand and receive a response containing the process instance key"
**Is your feature request related to a problem? Please describe.**
I'm not getting a response when I use  publishMessageCommand to start a process instance

**Describe the solution you'd like**
I need the publish message command to return a response which includes the process instance key

**Describe alternatives you've considered**
N/A

**Additional context**
I'm unsure how this is implemented bu

[2021-09-02 17:56] Zelldon commented on #315
Hey @Dumbnorix

thanks for raising this. Unfortunately this is not something we can implement easily on the client side.

Messages are correlated asynchronously and independent. It can happen that the message is published on partition X and the instance where it is correlated to is on partition Y.

You could use an exporter to find out to which instance it was correlated. But maybe it helps alao t

[2021-10-01 06:44] Hard-Coder05 opened #326 "Upgrade our issue templates to use GitHub issue forms"
__Is your feature request related to a problem? Please describe.__

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

__Describe the solution you'd like__

This repository currently uses the older issue tem

[2021-10-01 06:45] Hard-Coder05 commented on #326
I would like to work on this issue!

[2021-10-01 07:15] Christian-Oleson commented on #277
@Zelldon
.NET Core 3.1 is only supported through December 3, 2022. Are you interested in moving from .NET 2.1 to .NET 5?

[2021-10-01 17:54] Christian-Oleson commented on #277
However, regardless, I'll gladly take this one.

[2021-10-01 18:07] Christian-Oleson commented on #277
The other question I have is regarding the _client_ project. This one is in .NET Standard. Is there a reason we are targeting standard (E.g. backward compatibility)? If so, I'll leave it alone, if not, I'll address the issue.

[2021-10-02 01:15] Christian-Oleson commented on #326
I didn't realize my comment on this one didn't go through when I originally was looking at it... so I opened a PR against the repo but didn't explicitly say I would do it. Sorry folks...

[2021-10-02 04:01] Hard-Coder05 commented on #326
@Christian-Oleson I guess this is not acceptable. Until and unless an issue is assigned to someone how can you make a PR?

@Zelldon do look into this! I hope justice shall be done 😃 !

[2021-10-02 12:45] Christian-Oleson commented on #326
I will just close my PR then. No worries.

[2021-10-02 18:26] askalik commented on #184
Is this still needed,  I would like to do this if it is?

[2021-10-02 18:26] askalik commented on #183
Is this still needed, I would like to do this if it is?

[2021-10-04 05:46] Zelldon commented on #184
Hey @askalik absolutely !

What to do:

 * The related interface needs to implement `IFinalCommandWithRetryStep`, can be seen in [ICancelProcessInstanceCommandStep1](https://github.com/camunda-community-hub/zeebe-client-csharp/blob/master/Client/Api/Commands/ICancelProcessInstanceCommandStep1.cs#L5)
 * The implementation just needs to delegate to the AsyncWaitStrategy https://github.com/camunda-co

[2021-10-04 05:47] Zelldon commented on #183
Hey @askalik absolutely !

What to do:

 * The related interface needs to implement `IFinalCommandWithRetryStep`, can be seen in [ICancelProcessInstanceCommandStep1](https://github.com/camunda-community-hub/zeebe-client-csharp/blob/master/Client/Api/Commands/ICancelProcessInstanceCommandStep1.cs#L5)
 * The implementation just needs to delegate to the AsyncWaitStrategy https://github.com/camunda-co

[2021-10-04 07:04] Zelldon commented on #326
Hey @Hard-Coder05 thanks for opening this and making me aware, but I would rather like not to do it right now. This is something I would take a closer look myself, but feel free to check one of the other open issues we have here https://github.com/camunda-community-hub/zeebe-client-csharp/issues

[2021-10-04 07:11] Hard-Coder05 commented on #326
@Zelldon Sure! I will look into other issues then! I am  closing this issue then!

[2021-10-04 07:11] #326 closed

[2021-10-04 09:39] Zelldon commented on #277
Hey @Christian-Oleson

thanks for stepping in, to answer your question:

I would prefer to go with the LTS versions, we can update this then next year again.

Yes since it should be used in other libs, no matter of windows, linux etc. As far as I know it would be the best to use .net standard here to have a broader audience and support more versions, but as mentioned .net core 2.1 is already out o

[2021-10-04 13:11] Christian-Oleson commented on #277
I totally understand. .NET 6 comes out in November, and this should be a LTS version. If you want, I can take on that change if you want (confirm this by) opening the .NET 6 migration issue.

.NET Core and .NET 5 are cross-platform, including Windows, Linux, Mac, etc. If that is the concern, updating this to .NET Core isn't an issue. I wouldn't do this yet, because in .NET Core 3.1 it is still tec

[2021-10-04 13:25] askalik commented on #183
Question for @Zelldon should I take the others as well that are to implement the same across the platform?

Seems like it wouldn’t be that much additional effort?

I am open to do it as C# is a language I am fairly comfortable with.  Just new-ish to open source contributing.

[2021-10-04 15:37] askalik commented on #183
This is on PR #329

[2021-10-05 21:59] askalik commented on #182
believe I have this one completed on a branch + pr.

[2021-10-06 06:48] #315 closed

[2021-10-27 06:32] Zelldon opened #348 "Migrate to grpc-dotnet"
**Is your feature request related to a problem? Please describe.**

https://grpc.io/blog/grpc-csharp-future/

**Describe the solution you'd like**

* Migrate the internal backend to the https://github.com/grpc/grpc-dotnet without breaking the API.
* We need to migrate the client to a higher .net version https://github.com/camunda-community-hub/zeebe-client-csharp/issues/277
* Release with this cha

[2021-11-01 10:27] Zelldon commented on #194
@Lamby123 which .net version do you use? Would be migrating the client to .net core 3.x or higher suitable to you?

[2021-11-10 13:25] #178 closed

[2021-11-22 13:21] XPhilipp opened #363 "High CPU consumption when the connection is lost."
**Describe the bug**
High CPU consumption when the connection is lost, or Zeebe is restarting.

**To Reproduce**
Steps to reproduce the behavior:
1. Run  zeebe-client-csharp
2. Stop Zeebe server
3. See error

**Expected behavior**
Await Pooling Interval.
Simple fix add in file JobWorker.cs after line 163:
`await Task.Delay(pollInterval, cancellationToken);`

**Enviroment (please complete the follo

[2021-11-22 14:26] Zelldon commented on #177
This is done

[2021-11-22 14:26] #177 closed

[2021-11-22 14:50] #363 closed

[2021-11-22 15:31] XPhilipp commented on #363
Maybe a better way to have a dedicated "Restart Interval"?

[2021-12-22 07:59] Ar4ics opened #367 "User task job handler not activated"
I have following code to complete user tasks:
[code]
When user task has started, the method JobHandler not launched.
What I'm doing wrong?

[2021-12-22 08:19] Zelldon commented on #367
Hey @Ar4ics

thanks for reporting. Could you please share an example process model so I can reproduce it? Do you see any errors in the log? Broker or client?

How do you run Zeebe? Are you using Camunda cloud?

Greets
Chris

[2021-12-22 09:35] Ar4ics commented on #367
Hi @Zelldon.
I am using example bpmn from [send-email](https://github.com/camunda-cloud/camunda-cloud-get-started/blob/master/process/send-email.bpmn)
Zeebe 1.2.4 was deployed in Camunda Cloud Self-Managed.

Its interesting that if I add line `MaxJobsActive(1)` then JobHandler gets called:
[code]

But without this line its not called.

[2021-12-22 11:26] Zelldon commented on #367
Hey @Ar4ics

Thanks for the additional comment. This makes totally sense. Currently the maxJobsActive if not set, default to zero, which would cause to not active any jobs.

I can increase the default to one.

[2021-12-22 11:50] #367 closed

[2021-12-23 13:10] Ar4ics opened #368 "Tasklist API returns user task with null taskState property"
I have the method `GetTask` which calls Tasklist API to get state of user task by id:
[code]

I call this method in JobHandler to fill list of user tasks:

[code]

Problem is that this call gives GraphQL error:
[code]
Also Tasklist GUI is not showing this task in browser.

[2022-01-04 12:43] Zelldon commented on #368
Hey @Ar4ics sorry but this has nothing to do with the C# client. I will close this, please post such questions or concerns in the forum https://forum.camunda.io/ or via slack https://zeebe-slack-invite.herokuapp.com/

[2022-01-04 12:43] #368 closed

[2022-02-04 12:07] csleead opened #380 "DefaultWaitTimeProvider has a min wait time of 30s"
https://github.com/camunda-community-hub/zeebe-client-csharp/blob/bfc0fbca7b177e9fd3816e8da37bdbce108cebf5/Client/ZeebeClient.cs#L37-L38

The `Math.Max` should be `Math.Min`.

[2022-02-07 21:47] #380 closed

[2022-02-07 21:47] Zelldon commented on #380
Great catch @csleead thanks for reporting I will create a new release with the fix

[2022-02-09 22:14] falko opened #383 "Update Doxygen documentation"
The API docs at https://camunda-community-hub.github.io/zeebe-client-csharp/index.html show version `1.0.0` and  `Generated on Tue May 11 2021 15:19:16`. Could they be updated to reflect the latest state?

[2022-02-10 05:35] #383 closed

[2022-02-10 05:53] Zelldon commented on #383
@falko https://camunda-community-hub.github.io/zeebe-client-csharp/ should work now let me know if you see any issues

[2022-02-12 09:06] arjangeertsema opened #385 "Simplify in the Zeebe C# client the builder.UseTransportEncryption"
Simplify in the Zeebe C# client the builder.UseTransportEncryption so it accepts null and defaults to the default encryption.

Related to pull request: https://github.com/camunda-community-hub/zeebe-client-csharp-bootstrap/pull/27

[2022-06-12 23:26] matt-ankerson opened #415 "Unable to run on Azure Function - CamundaCloudTokenProvider makes unauthorised writes to local file system"
The `CamundaCloudTokenProvider` class maintains a local token cache, using a local file as a means to persist the token. Azure Functions and other Windows hosting environments, don't recommend writes, and may even prohibit writes, to the default file location.

The default location is `Environment.SpecialFolder.UserProfile`. Below is the description for the `UserProfile` enumeration:

[Source.](ht

[2022-09-16 14:59] ShawnAbshire opened #439 "I can not use the client to connect to local/docker instance of the engine."
**Is your feature request related to a problem? Please describe.**
Recently started working on building out a worker node and noticed that the forces port 443 for the contact point.  This is problematic whenever we're not using a cloud instance just yet, but instead are using the camunda provided [docker platform](https://github.com/camunda/camunda-platform/tree/8.0.0) which defaults the Zeebe eng

[2022-09-17 07:02] Zelldon commented on #439
Hey @ShawnAbshire thanks for using the C# client. If you don't use Camunda Cloud then please use the normal ZeebeClient builder, see as example here https://github.com/camunda-community-hub/zeebe-client-csharp/blob/main/Client.Examples/Program.cs#L39-L44

I will close this issue since this is already possible. Feel free to reopen if you think otherwise.

[2022-09-17 07:02] #439 closed

[2022-09-18 16:54] ShawnAbshire commented on #439
I had overlooked this Zelldon, Thanks for your response, will try it out Monday!

[2022-10-20 21:21] mustafaaozcan opened #452 "Start Process Instance Anywhere"
How can I use the startBeforeElement method that added with camunda 8.1?

https://docs.camunda.io/docs/components/concepts/process-instance-creation/#create-and-start-at-a-user-defined-element

[2022-11-16 19:41] vincentgiraud opened #462 "Csharp implementation of the official Camunda 8 Connector SDK"
**FEATURE REQUEST**

An implementation of Camunda 8 connector SDK in Csharp (port of java official https://github.com/camunda/connector-sdk and community nodeJS https://github.com/camunda-community-hub/connector-sdk-nodejs) allowing the writing of connectors for .NET.

[2022-11-28 17:52] vavans opened #468 "I can use the client to set **local** variables when sending a CompleteJobCommand"
When i handle a task in a worker, i would like to set local variables to the task as described in the Camunda API:
https://docs.camunda.org/manual/latest/reference/rest/external-task/post-complete/#request-body

see `localVariables`

For now, i managed to set a process scope variable, using the `Variables` function
[code]

I would like an API like:
[code]

Am i missing someting ?

Thanks
Julien

[2022-11-29 04:13] Zelldon commented on #468
Hey @vavans

the referenced documentation is for Camunda 7, whereas the .net client you try to use is for Camunda 8 and doesn't support that. Here is the related Camunda 8 doc for handling jobs https://docs.camunda.io/docs/components/concepts/job-workers/#requesting-jobs Since Zeebe the process engine behind Camunda 8, doesn't support this yet I will close this issue. Feel free to open an issue he

[2022-11-29 04:13] #468 closed

[2022-11-29 14:46] akeller commented on #462
Hi @vincentgiraud - thank you for your feature request! Unfortunately, this will not get the traction or visibility the Connector SDK team would need to possibly prioritize this. Can you open an issue on the [Connectors SDK repo](https://github.com/camunda/connector-sdk) instead?

The project you added an issue to is community supported, which means if you'd like to build this yourself and PR it,

[2022-11-29 19:12] jwulf commented on #462
If you do decide to do it yourself - as well as the official Connector SDK, you can check out the community Node.js one: https://github.com/camunda-community-hub/connector-sdk-nodejs.